.App {
  font-family: sans-serif;
  text-align: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.nav {
  border-bottom: 1px solid black;
}
